## Jupyter notebook

* 파이썬은 매우 간결한 언어
* 사람의 언어에 가장 가까운 언어
* 적당히 빠른 속도
* 다양한 통계 모듈
* 다양한 시각화 모듈
* 통계분석 - 게임제작 - 웹개발 - 어플리케이션 개발 
* 기계학습 및 인공지능 기반 분석
* Jupyter 는 파이썬을 대화창 형식으로 coding 할 수 있게 해주는 툴
* 전세계적으로 본인의 연구 결과를 Jupyter로 올리는 사람이 늘어나고 있음 

https://repo.continuum.io/archive/



---

In [12]:
## 변수에 문자를 할당
a = "babo"
## 변수에 숫자를 할당
b = 2018
## 숫자처럼 보여도 문자를 할당
c = "2018"

In [13]:
a,b,c

('babo', 2018, '2018')

In [14]:
type(a),type(b),type(c)

(str, int, str)

In [56]:
#숫자는 연산이 된다.
i = 1

In [57]:
i = i + 3

In [58]:
i

4

In [61]:
i = i + 1

In [62]:
i

6

In [63]:
i += 1

In [64]:
i

7

---

In [17]:
## 실수형 할당
d = 174.5

In [18]:
type(d)

float

---

In [19]:
# 자료형 : 리스트
e = [a,b,c,d]

In [20]:
e

['babo', 2018, '2018', 174.5]

In [22]:
f = ['name','year','str_year','height']

In [23]:
f

['name', 'year', 'str_year', 'height']

---

In [21]:
# 자료형 : 딕셔너리

In [27]:
list(zip(f,e)) # 두 리스트를 일렬로 나란이 붙인다.

[('name', 'babo'), ('year', 2018), ('str_year', '2018'), ('height', 174.5)]

In [29]:
dict(zip(f,e))

{'height': 174.5, 'name': 'babo', 'str_year': '2018', 'year': 2018}

In [33]:
dic = dict(zip(f,e))

In [35]:
dic['height'],dic['name']

(174.5, 'babo')

---

In [36]:
# boolean 
b1 = True

In [37]:
b2 = False

In [38]:
b_list = [True,False,True]

In [42]:
1 == 1

True

In [43]:
b3 = 1 == 1

In [44]:
b3

True

---

In [45]:
# input 함수를 이용한 직접 입력받기 
name = input('name:')

In [46]:
age = eval(input('age:'))

In [47]:
print("Your name is %s and %d years old"%(name,age))

Your name is kang yang jae and 37 years old

---

In [50]:
# 조건문
age_kang = 37
age_jung = 50

if age_kang > age_jung:
    print("kang이 형")
elif age_jung > age_kang:
    print("jung이 형")
else:
    print("동갑")

jung이 형

In [ ]:
# 반복문

In [52]:
for i in [1,2,3,4,5]:
    print("숫자 : %d"%i)

숫자 : 1
숫자 : 2
숫자 : 3
숫자 : 4
숫자 : 5

In [54]:
i = 0 
for x in [1,2,3,4,5]:
    print("%d + %d = %d"%(i,x,i+x))
    i = i+x

0 + 1 = 1
1 + 2 = 3
3 + 3 = 6
6 + 4 = 10
10 + 5 = 15

In [55]:
i = 0
while i < 10:
    print("아직 %d <10"%i)
    i += 1

아직 0 <10
아직 1 <10
아직 2 <10
아직 3 <10
아직 4 <10
아직 5 <10
아직 6 <10
아직 7 <10
아직 8 <10
아직 9 <10

In [66]:
while 1:
    name = input("이름:")
    age  = eval(input("나이:"))
    if age == 0:
        break
    elif age >= 25:
        print("당신(%s)은 20대 후반 입니다."%name)
    else: print("당신(%s)은 20대 초반 입니다."%name)

![](https://i.pinimg.com/originals/2c/09/44/2c0944772f1ecbcc0e2068f342d5aa90.jpg)

In [67]:
genecode = {}
while 1:
    codon = input("codon : ")
    amino = input("amino acid : ")
    if codon == '' or amino == '':
        break
    else: genecode[codon] = amino

In [68]:
genecode

{'ATT': 'I'}

## 연습문제

- "This is sequence file"을 화면에 출력하시오.

- standard input으로 (즉,화면에서) 임의의 문자열 입력받아 화면에 출력하시오.

- 두 정수를 standard input으로 입력받아 변수 a와 b에 저장하고 이들의 합을 변수 c에 저장한 후 결과를 출력하시오.

- 두 수를 입력하고 둘 중에 큰 수를 출력해주는 프로그램을 작성하시오.

- Standard input으로 3-base codon을 입력받아서 아미노산으로 출력하시오.

- 4번의 문제에서 입력을 계속 받을 수 있도록 수정하시오.